enabled=true
breakpoint.hakathon1.search=Hakathon Dec 2018
breakpoint.hakathon1.invoke=Stack
breakpoint.hakathon2.search=Example for Thread dump
breakpoint.hakathon2.invoke=Stack,ThreadDump
breakpoint.hakathon3.search=Example for Heap status
breakpoint.hakathon3.invoke=Heap
breakpoint.hakathon4.search=all-together
breakpoint.hakathon4.invoke=Stack,ThreadDump,Heap,Args
breakpoint.hakathon5.search=print method arguments
breakpoint.hakathon5.invoke=Args


